.add-user-container {
    margin: 20px 0 20px 290px;
    width: 73.5%;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: var(--tran-05);
}
.add-user-form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    background-color: #f0f0f0;
}

.add-user-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.add-user-form-group {
    margin-bottom: 15px;
}

.add-user-form-control-select {
    width: 102%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    background-color: #f0f0f0;
}

.add-user-container .btn {
    width: 102%;
    padding: 10px;
    font-size: 16px;
}

.btn-secondary {
    width: 100.25% !important;
    text-align: center;
    margin-top: 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
