/* Container styling for certificate cards */
.certificate-container {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 10px;
    position: relative;
}

/* Individual certificate card styling */
.certificate-card {
    width: 350px;
    height: 350px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.certificate-card a {
    text-decoration: none;
}

.certificate-card:hover {
    transform: translateY(-5px);
} 

.certificate-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.certificate-card-text p {
    font-size: 22px;
    color: rgb(53, 21, 184);
    font-weight: bold;
}

/* Responsive styling */
@media (max-width: 600px) {
    .certificate-container {
        flex-direction: column;
        align-items: center;
    }

    .certificate-card {
        width: 90%;
    }
}
