/* General reset */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Body styling */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
} */

/* Container for the image cards */
.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
    transition: transform 0.3s ease;
   
}

/* Card styling */
.card {
    width: 280px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
}

/* Image styling */
.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

/* Text inside the card */
.card-text {
    padding: 10px;
}

.card-text p {
    font-size: 22px;
    color: rgb(53, 21, 184);
    font-weight: bold;
}

.card:hover {
    transform: translateY(-5px);
} 

/* Account details section */
.account-details {
    background-color: white;
    padding: 30px;
    width:400px;
    position: relative;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 auto;
}


.FS-charges .card {
    width: 400px;
}

.FS-charges a {
    text-decoration: none;
}

.account-details h2 {
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.account-details p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}
