#timetableTable {
    display: none;
}

.hidden-message {
    color: var(--secondary-text-color);
    font-size: 16px;
    margin-top: 10px;
}

.class-timetable-form {
    display: flex;
    width: 100%;
    gap: 10px;
}

#timetableHeader {
    text-align: center;
    width: 100%;
}

.class-timetable-form input[type="text"] {
    margin: 10px 0;
}

.class-timetable-form button {
    padding: 0;
    margin: 10px 0;
}

.class-timetable-form select {
    margin: 10px 0;
}
