.current-activities-container {
    margin: 20px 0 20px 290px;
    width: 73.5%;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: var(--tran-05);
}

.current-activities-container.full-width {
    margin-left: 95px;
    width: 86.5%;
    transition: var(--tran-04);
}

.assign-button,.confirm-button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: var(--primary-btn-color);
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.assign-button:hover,.confirm-button:hover{
    background-color: var(--primary-btn-hover-color);
}
