/* body {
    
    background-color: #f0f2f5;
   
    
} */

.profile-container{
    margin: 20px 0 20px 290px;
    width: 73.7%;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;    
    transition: var(--tran-05);
    min-height: 400px;
}

.profile-card {
    /* display: flex;
    align-items: center;
    background-color: white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    position: relative;
    top: 100px;
    left: 500px; */

    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 8px;
    min-height: 400px;
    
    
}

.user-profile-image {
    flex: 1;
    text-align: center;
    position: relative;
    top: 20px;
}

.user-profile-photos {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--primary-color);
}

.user-profile-info-section {
    flex: 2;
    margin-left: 20px;
}

.profile-details {
    color: #333;
    flex-grow: 1;
}

.profile-details h2 {
    /* margin: 0;
    font-size: 20px;
    color:#007bff; */
    color: var(--primary-color);
    
    font-size: 1.8rem;
}

.profile-details p {
    margin: 5px 0;
    line-height: 1.6;
}

.profile-details p span {
    font-weight: bold;
    min-width: 150px;
    display: inline-block;
}
.user-profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-profile-header h2 {
   position: relative;
   left: -300px;
   top: -60px;
}


