/* body {
    
    background-color: #f0f2f5;
   
    
} */

.profile-card {
    /* display: flex;
    align-items: center;
    background-color: white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    position: relative;
    top: 100px;
    left: 500px; */

    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 80px;
    width: 69.75%;
    display: flex;
    gap: 2rem;
    align-items: center;
    /* position: relative;
    top: 60px;
    left: 500px; */
    margin: 20px 0 20px 290px;

}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    flex-shrink: 0;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.profile-details {
    color: #333;
    flex-grow: 1;
}

.profile-details h2 {
    /* margin: 0;
    font-size: 20px;
    color:#007bff; */
    color: var(--primary-color);
    
    font-size: 1.8rem;
}

.profile-details p {
    margin: 5px 0;
    line-height: 1.6;
}

.profile-details p span {
    font-weight: bold;
    min-width: 150px;
    display: inline-block;
}
