/* Forgot Password Page Styles */
.fcontainer {
    width: 45%;
    margin: 120px auto 0;
}

.forgot-password-container {
    background-color: var(--primary-color);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 50px 50px 50px 60px;
}

.forgot-password-card {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 88%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #4A4A4A;
}

.forgotPassword-input-group {
    margin-bottom: 20px;
}

.forgotPassword-input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background-color: #f7f7f7;
    font-size: 1rem;
}

.reset-button {
    background-color: var(--red-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: var(--hover-red-color);
}
