/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */


.form-container {
    background-color: #fff;
    padding: 20px 40px;
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-height: 130vh; /* Limit the height of the form container */
    
    margin-top: 30px;
    width: 73%;
    margin-left: 290px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

form label {
    display: flex;
    margin-top: 15px;
    font-size: 15.5px;
    text-align: left;
    
}

form input[type="text"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    background-color:   #f0f0f0;
}

form textarea {
    resize: none;
    height: 60px;
}

.file-upload-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.file-upload-container button {
    padding: 10px 15px;
    background-color: #b5f7f4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.file-upload-container .upload-icon {
    font-size: 20px;
    cursor: pointer;
}

.custom-checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
}
.custom-checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.custom-checkbox-label {
    font-size: 1em;
    color: #333;
}
/* .cer-checkbox-container input[type="checkbox"] {
    margin-right: 10px;
} */

/* .submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #45a049;
} */

.custom-submit-button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  
    transition: background-color 0.3s ease;
}

.custom-submit-button:hover {
    background-color: #45a049;
}


.notification {
    display: none; /* Hidden by default */
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    z-index: 1000;
}
