/* Components */
@import url('components/sidebarStyles.css');
@import url('components/topNavbarStyles.css');
@import url('dashboardStyles.css');
@import url('components/table01Styles.css');
@import url('feedbackStyles.css');
@import url('components/scheduled_events.css');
@import url('components/time_table.css');
@import url('components/daily_activities.css');
@import url('components/view_activities.css');
@import url('components/Parent_Report.css');

@import url('components/scheduled_events.css');
@import url('components/time_table.css');
@import url('components/daily_activities.css');
@import url('components/view_activities.css');
@import url('components/attendance.css');

@import url('details.css');
@import url('aca_details.css');
@import url('payment.css');
@import url('libry_fine.css');
@import url('chargesForm.css');
@import url('certificate.css');
@import url('leaving.css');
@import url('attendance.css');
@import url('loginStyles.css');
@import url('forgotPasswordStyles.css');
@import url('components/scheduled_events.css');

@import url('index.css');
@import url('landing.css');


@import url('components/class_report.css');
@import url('components/submit_marks.css');
@import url('components/announcementFormStyles.css');
@import url('components/announcementModalStyles.css');
@import url('profileStyles.css');
@import url('userSettingsStyles.css');
@import url('components/createFormStyles.css');
@import url('currentActivitiesStyles.css');
@import url('components/msi.css');
@import url('usersListStyles.css');
@import url('addUserStyles.css');
@import url('404Styles.css');
@import url('403Styles.css');
@import url('classTimetable.css');
@import url('teacherTimetable.css');
@import url('all_teacher.css');
@import url('all_students.css');
@import url('uploadUsers/uploadUsers.css');
@import url('components/pagination.css');

@import url('selectClass.css');
@import url('submitMarks.css');
@import url('classReport.css');
@import url('termReport.css');

@import url('uploadTimetable.css');
@import url('assignClassTeachers.css');

/*by admin */
@import url('components/insert_actor_style.css');

:root {
    /* Colors */
    --body-color: #E4E9F7;
    --sidebar-color: #fff;
    --primary-color: #6472CD;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --primary-text-color: #2d346a;
    --secondary-text-color: #555;
    --icon-color: #2d346a;
    --red-color: #ff4d4d;
    --hover-red-color: #b91c1c;
    --input-border-color: #4A90E2;
    --primary-btn-color: #4759b1;
    --primary-btn-hover-color: #6976d2;
    /* --icon-color: #3b4380; */
    --red-color-2: #dc3545;
    --btn-red-color: #cc0000;
    --success-color: #155724;
    --danger-color: #721c24;
    --secondary-btn-color: #003366;
    --secondary-btn-hover-color: #001d3d;
    --black-1: #333;

    /* Transitions */
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    font-family: 'Arial', sans-serif;
    background: var(--body-color);
    margin-top: 10px;
}

p {
    font-size: 16px;
    color: var(--secondary-text-color);
    line-height: 1.6;
}

footer {
    padding-left: 290px;
    margin: 40px 0 0;
    transition: var(--tran-05);
    position: relative;
    bottom: 0px;
}

footer p {
    margin: 0;
}

footer.full-width {
    padding-left: 95px;
    transition: var(--tran-04);
}

h1, h2 {
    color: var(--primary-text-color);
}

.container {
    margin: 15px 0 20px 290px;
    width: 73.77%;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: var(--tran-05);
}

.container.full-width {
    margin-left: 95px;
    width: 86.5%;
    transition: var(--tran-04);
}

.alert {
    padding: 10px;
    margin-top: 65px;
    margin-right: 4px;
    border-radius: 4px;
    font-weight: bold;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.alert-success {
    background-color: #d4edda;
    color: var(--success-color);
}

.alert-danger {
    background-color: #f8d7da;
    color: var(--danger-color);
}
/* //     ALTER TABLE absences
// ADD CONSTRAINT fk_parent_user
// FOREIGN KEY (parentRegNo)
// REFERENCES users(regNo)
// ON DELETE CASCADE
// ON UPDATE CASCADE; */