/* Components */
@import url('components/sidebarStyles.css');
@import url('components/topNavbarStyles.css');
@import url('dashboardStyles.css');
@import url('components/table01Styles.css');
@import url('feedbackStyles.css');
@import url('components/scheduled_events.css');
@import url('components/time_table.css');
@import url('components/daily_activities.css');
@import url('components/view_activities.css');

@import url('components/scheduled_events.css');
@import url('components/time_table.css');
@import url('components/daily_activities.css');
@import url('components/view_activities.css');
@import url('components/attendance.css');

@import url('details.css');
@import url('aca_details.css');
@import url('payment.css');
@import url('libry_fine.css');
@import url('chargesForm.css');
@import url('certificate.css');
@import url('leaving.css');
@import url('attendance.css');
@import url('loginStyles.css');
@import url('forgotPasswordStyles.css');
@import url('components/scheduled_events.css');

@import url('index.css');
@import url('landing.css');

@import url('components/announcementFormStyles.css');
@import url('components/announcementModalStyles.css');
@import url('profileStyles.css');
@import url('userSettingsStyles.css');
@import url('components/createFormStyles.css');
@import url('currentActivitiesStyles.css');
@import url('components/msi.css');
@import url('usersListStyles.css');
@import url('addUserStyles.css');
@import url('404Styles.css');
@import url('403Styles.css');
@import url('classTimetable.css');
@import url('teacherTimetable.css');


:root {
    /* Colors */
    --body-color: #E4E9F7;
    --sidebar-color: #fff;
    --primary-color: #6472CD;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --primary-text-color: #2d346a;
    --secondary-text-color: #555;
    --icon-color: #2d346a;
    --red-color: #ff4d4d;
    --hover-red-color: #b91c1c;
    --input-border-color: #4A90E2;
    --primary-btn-color: #4759b1;
    --primary-btn-hover-color: #6976d2;
    /* --icon-color: #3b4380; */

    /* Transitions */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    font-family: 'Arial', sans-serif;
    background: var(--body-color);
    margin-top: 10px;
}

p {
    font-size: 16px;
    color: var(--secondary-text-color);
    line-height: 1.6;
}

footer {
    padding-left: 290px;
    margin: 40px 0 0;
    transition: var(--tran-05);
    position: relative;
    bottom: 0px;
}

footer p {
    margin: 0;
}

footer.full-width {
    padding-left: 95px;
    transition: var(--tran-04);
}

h1, h2 {
    color: var(--primary-text-color);
}

.container {
    margin: 20px 0 20px 290px;
    width: 73.5%;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: var(--tran-05);
}