/* Components */
@import url('components/sidebarStyles.css');
@import url('components/topNavbarStyles.css');
@import url('dashboardStyles.css');
@import url('components/table01Styles.css');
@import url('feedbackStyles.css');

@import url('components/scheduled_events.css');
@import url('components/time_table.css');
@import url('components/daily_activities.css');
@import url('components/view_activities.css');
@import url('components/attendance.css');

@import url('details.css');
@import url('aca_details.css');
@import url('payment.css');
@import url('libry_fine.css');
@import url('chargesForm.css');
@import url('certificate.css');
@import url('leaving.css');
@import url('attendance.css');
@import url('loginStyles.css');
@import url('forgotPasswordStyles.css');

@import url('index.css');
@import url('landing.css');

@import url('components/class_report.css');
@import url('components/submit_marks.css');

@import url('selectClass.css');
@import url('submitMarks.css');
@import url('classReport.css');
@import url('termReport.css');

:root {
    /* Colors */
    --body-color: #E4E9F7;
    --sidebar-color: #fff;
    --primary-color: #6472CD;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --primary-text-color: #2d346a;
    --secondary-text-color: #555;
    --icon-color: #2d346a;
    --red-color: #ff4d4d;
    --hover-red-color: #b91c1c;
    /* --icon-color: #3b4380; */

    /* Transitions */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background: var(--body-color);
}

p {
    font-size: 16px;
    color: var(--secondary-text-color);
    line-height: 1.6;
}

footer {
    padding-left: 290px;
    margin: 60px 0 0;
    transition: var(--tran-05);
    position: absolute;
    bottom: 10px;
    left:20px;
}

footer p {
    margin: 0;
}

footer.close {
    padding-left: 95px;
    transition: var(--tran-04);
}

h1, h2 {
    color: var(--primary-text-color);
}