.announcement-container {
    margin: 20px 0 20px 290px;
    width: 73.5%;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: var(--tran-05);
}

.announcement-container.full-width {
    margin-left: 95px;
    width: 86.5%;
    transition: var(--tran-04);
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.announcement-search-bar {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #444;
}

.announcement-container input[type="text"],
.announcement-container input[type="date"],
.announcement-container input[type="time"],
.announcement-container select,
.announcement-container textarea {
    width: 102%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f0f0;
}
.announcement-container select {
    width: 102%;
}

#announcement-date {
    margin: 0;
}

.announcement-content-form-group {
    margin-bottom: 0;
}

.button-group-announcement {
    display: flex;
    gap: 10px;
    width: 102%;
}


.announcement-container input[type="date"],
.announcement-container input[type="time"] {
    width: 100%;
}

.announcement-container input[type="text"]:focus,
.announcement-container input[type="date"]:focus,
.announcement-container input[type="time"]:focus,
.announcement-container select:focus,
.announcement-container textarea:focus {
    outline: none;
    border-color: var(--input-border-color);
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}

.announcement-container textarea {
    resize: vertical;
    min-height: 120px;
}

.checkbox-group,
.radio-group {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.checkbox-item,
.radio-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.date-time-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    margin-bottom: 20px;
}

.button-group-announcement button[type="submit"] {
    background-color: var(--secondary-btn-color);
    color: white;
}

.button-group-announcement button[type="submit"]:hover {
    background-color: var(--secondary-btn-hover-color);
}

.button-group-announcement button[type="reset"] {
    background-color: #aca9bb;
    color: white;
}

.button-group-announcement button[type="reset"]:hover {
    background-color: #cccccc;
}

.profile-picture-buttons {
    display: flex;
    gap: 15px;
    width: 100%;
}

.profile-picture-buttons button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color var(--trans-03);
}

/* .announcement-container button[type="submit"] {
    background-color: var(--primary-btn-color);
    color: white;
}

.announcement-container button[type="submit"]:hover {
    background-color: var(--primary-btn-hover-color);
} */

.profile-picture-buttons .btn-delete  {
    background-color: var(--btn-red-color);
    color: white;
}

.profile-picture-buttons .btn-delete:hover {
    background-color: var(--hover-red-color);
    color: white;
}

.view-all-container {
    margin-top: 20px;
    text-align: center; /* Center the button */
}

.view-all-container a {
    width: 99.5%;
}

.announcement-container .btn-view-all {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: var(--secondary-btn-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color var(--trans-02);
    font-weight: normal;
}

.announcement-container .btn-view-all:hover {
    background-color: var(--secondary-btn-hover-color);
}


<<<<<<< HEAD



=======
/* Delete Confirmation */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.btn-cancel, .btn-confirm-delete {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.btn-confirm-delete:hover {
    background-color: #990000;
}

.btn-cancel {
    background-color: #ccc;
}

.btn-confirm-delete {
    background-color: #e74c3c;
    color: white;
}


.modal.show {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: var(--tran-05);
}
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
body.modal-open {
    overflow: hidden;
}

/* Announcement count */
.announcement-count-wrapper {
    text-align: right;
    margin: 0 10px 10px 0;
}

.announcement-count {
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary-text-color);
    display: inline-block;
}

/* Announcement table */
/* Target the Date column (5th column) */
.announcement-table th:nth-child(5),
.announcement-table td:nth-child(5) {
    min-width: 82px;
    width: 82px;
}

/* Target the Actions column (7th column) */
.announcement-table th:nth-child(7),
.announcement-table td:nth-child(7) {
    min-width: 125px; 
    width: 125px;
}
>>>>>>> 18f12ee3579c838701b9539dd999e59c323f5680
