.container {
    margin-top: 30px;
    max-width: 800px;
    height: 600px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #001d3d;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"],.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #001d3d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button[type="submit"]:hover {
    background-color: #003366;
}

button[type="button"]:hover {
    background-color: #003366;
}


