.msi-container {

    margin-top: 30px;
    width: 73%;
    margin-left: 290px;
    /* max-width: 700px;
    margin: 0 auto; */
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50px;
  }
  
  .msi-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form Group Styling */
  .msi-form-group {
    margin-bottom: 15px;
  }
  
  /* Label Styling */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Dropdown Styling */
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  /* Button Styling */
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }